<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spinny Assignment</title>
</head>
<body>
    <h1 style="text-align: center">Spinny Assignment</h1>
    <h3 style="text-align: center">API Service for CRUD </h3>
    <h5 style="text-align: center">Github Repo : <a href="https://github.com/prakhar1144/Spinny-Task/blob/master/README.md">Spinny-Task</a></h5>
    
    <div style="text-align: center; margin-top: 5%;">
        <table style="margin-left: 40%; margin-bottom:5%">
            <tr>
              <th>user type</th>
              <th>username</th>
              <th>password</th>
            </tr>
            <tr>
              <td>Admin</td>
              <td>admin</td>
              <td>admin@14</td>
            </tr>
            <tr>
              <td>Staff</td>
              <td>user2</td>
              <td>spinny@14</td>
            </tr>
            <tr>
                <td>Normal User</td>
                <td>user1</td>
                <td>spinny@14</td>
            </tr>
        </table>
        <h2>Please refer this <a href="https://github.com/prakhar1144/Spinny-Task/blob/master/README.md">README</a> for details</h2>
        <!-- <ul>
            <li>
                Task 0 : <a href="https://github.com/prakhar1144/Spinny-Task/blob/master/storeapp/models.py">Data Modelling</a>
            </li>
            <hr>
            <li>
                Task 1 : <a href="https://spinny.herokuapp.com/create/">/create/</a>
            </li>
            <hr>
            <li>
                Task 2 : <a href="https://spinny.herokuapp.com/update/1">/update/1</a>
            </li>
            <hr>
            <li>
                Task 3 : <a href="https://spinny.herokuapp.com/list/">/list/</a>
                <h5>Filters</h5>
                <ul>
                    <li><a href="https://spinny.herokuapp.com/list/?length__lt=5">/list/?length__lt=5</a></li>
                    <li><a href="https://spinny.herokuapp.com/list/?length__gt=5">/list/?length__gt=5</a></li>
                    <br>
                    <li><a href="https://spinny.herokuapp.com/list/?breadth__lt=5">/list/?breadth__lt=5</a></li>
                    <li><a href="https://spinny.herokuapp.com/list/?breadth__gt=5">/list/?breadth__gt=5</a></li>
                    <br>
                    <li><a href="https://spinny.herokuapp.com/list/?height__lt=5">/list/?height__lt=5</a></li>
                    <li><a href="https://spinny.herokuapp.com/list/?height__gt=5">/list/?height__gt=5</a></li>
                    <br>
                    <li><a href="https://spinny.herokuapp.com/list/?area__lt=5">/list/?area__lt=5</a></li>
                    <li><a href="https://spinny.herokuapp.com/list/?area__gt=5">/list/?area__gt=5</a></li>
                    <br>
                    <li><a href="https://spinny.herokuapp.com/list/?volume__lt=5">/list/?volume__lt=5</a></li>
                    <li><a href="https://spinny.herokuapp.com/list/?volume__lt=5">/list/?volume__gt=5</a></li>
                    <br>
                    <li><a href="https://spinny.herokuapp.com/list/?creator=1">/list/?creator=1</a></li>
                    <br>
                    <li><a href="https://spinny.herokuapp.com/list/?created_at__lt=2021-11-16">/list/?created_at__lt=2021-11-16</a></li>
                    <li><a href="https://spinny.herokuapp.com/list/?created_at__gt=2021-11-16">/list/?created_at__gt=2021-11-16</a></li>
                </ul>
            </li>
            <hr>
            <li>
                Task 4 : <a href="https://spinny.herokuapp.com/my-boxes/">/my-boxes/</a>
                <p>Filters canbe used in a similar way as Task 3</p>
                <p>Example : <a href="https://spinny.herokuapp.com/my-boxes/?length__lt=5">/my-boxes/?length__lt=5</a></p>
            </li>
            <hr>
            <li>
                Task 5 : <a href="127.0.0.1:8000/delete/1">/delete/1</a>
            </li>
        </ul> -->
    </div>
</body>
</html>